body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  /* display: flex; */
}

/* div {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.main {
  width: 100vw;
  height: 100vh;
  /* display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: leftContainer rightContainer; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/twitter.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.leftContainer {
  width: 50w;
  height: 100vh;
  grid-area: leftContainer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  grid-area: rightContainer;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/********************Main Profile Page********************/

.mainProfile {
  width: 100vw;
  height: 100vh;
}
/********************Photo Profile Page********************/
.photoProfileContainer {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  background-image: url(../public/tweeter.png);
  box-shadow: 2px 2px 2px 2px rgba(195, 187, 187, 0.75);

  box-sizing: border-box;
}

.profilePic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.leftbox {
  /* width: 100vw; */
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.rightbox {
  /* width: 100vw; */
  /* height: 30vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mailButton {
 border:  1px white;
  color:white;
  background-color:black;
  border-radius: 50px;
  padding: 10px;
   cursor:pointer
}

.mailButton:hover {
  background-color: rgb(40, 46, 154);
  ;
  border: 1px black;
}
/********************Description Profile Page********************/
