/********************Root App.js********************/

body {
  margin: 0;
  padding: 0;
}

/********************Welcome Page********************/

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/twitter.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.leftContainer {
  width: 50w;
  grid-area: leftContainer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  grid-area: rightContainer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/********************Main Profile Page********************/

.mainProfile {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.2fr 1fr;
  grid-template-areas:
    "ProfilePhoto"
    "ProfileNavigation"
    "ProfileSearchBar"
    "ProfileDescription";
  box-sizing: border-box;
}
/********************Photo Profile Page********************/
.photoProfileContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-image: url(../public/tweeter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: rgb(216, 210, 210);
  box-sizing: border-box;
}

.profilePic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.leftbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.rightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.mailButton,
.logoutButton {
  border: 1px white;
  color: white;
  background-color: black;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}

.mailButton:hover,
.logoutButton:hover {
  background-color: rgb(40, 46, 154);
  border: 1px black;
}

/********************ProfileDescription Page********************/

.mainContainerDescription {
  height: 100%;
  width: 60%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  margin-left: 20%;
}

p {
  width: 100%;
  flex-wrap: wrap;
  line-height: 2rem;
}

/********************ProfileSearchBar Page********************/
.mainContainerSearchBar {
  height: 100%;
  width: 30%;
  border: 1px solid black;
  display: flex;
  margin-left: 35%;
  align-items: center;
  justify-content: space-around;
}

.searchBarButton {
  cursor: pointer;
}

.searchBarButton:hover {
  scale: 1.4;
  transition: 1s;
}

/********************ProfileNavigation Page********************/
.mainContainerNavigation {
  background-color: pink;
  height: 100%;
  width: 60%;
  margin-left: 20%;
  border: 1px solid black;
}
