body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  /* display: flex; */
}

/* div {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.main {
  width: 100vw;
  height: 100vh;
  /* display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "leftContainer rightContainer"; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/twitter.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.leftContainer {
  width: 50w;
  height: 100vh;
  grid-area: leftContainer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  grid-area: rightContainer;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/********************Main Profile Page********************/

.mainProfile {
  width: 100vw;
  height: 100vh;

}
/********************Photo Profile Page********************/
.photoProfileContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profilePic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
}

/********************Description Profile Page********************/

